h {
    font-size: 300%;
    color:black;
    background-color: orange;
    border-style: ridge;
    border-width: 2px;
    border-color: grey;
    text-decoration-line: none;
    padding: 15px 32px;
}
h:hover{
    border-style: groove;
    border-width: 10px;
    border-color: green;
}
h:active {
    border-color: #000 #aaa #aaa #000;
  }