h {
    font-size: 400%;
    color:black;
    background-color: orange;
    border-style: ridge;
    border-width: 2px;
    border-color: grey;
    border-radius: 4px;
    text-decoration-line: none;
    padding: 10px;
    color: white;
}
h:hover{
    background-color: darkorange;
    border-style: groove;
    border-width: 10px;
    border-color: green;
}
h:active {
    border-color: #000 #aaa #aaa #000;
  }